<!--
Student’s Name:Shivani Shyamal Kapatel
StudentID: 301250126
Date: 09 June 2023
COMP229– Web Application Development 
Express Portfolio Site 
-->
<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body id="page-top" class="index">
    <%- include partials/header.ejs %>
    <div class="container" style="padding: 50px">
      <h1 class="fs-3 fw-bold pb-2"><%= title2 %></h1>
      <hr />
      <div class="row">
        <div class="col-4">
          <div class="card text-bg-light mb-3" style="max-width: 18rem">
            <div class="card-header fw-bold fs-3">
              <i class="fa-solid fa-code"></i> Web Design
            </div>
            <div class="card-body">
              <h5 class="card-title">Designing HTML/HTML5 web Pages</h5>
              <p class="card-text">
                I am dedicated to creating stunning and functional websites that
                effectively showcase your brand and captivate your audience.
                With my exceptional skills and technical expertise I'll deliver
                exceptional results.With my web design service, I am committed
                to delivering excellence and exceeding your expectations. I
                believe that a well-designed website is essential for showcasing
                your brand. Contact me today to discuss your web design project.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card text-bg-light mb-3" style="max-width: 18rem">
            <div class="card-header fw-bold fs-3">
              <i class="fa-brands fa-app-store-ios"></i> App Design
            </div>
            <div class="card-body">
              <h5 class="card-title">Desktop/Mobile App Development</h5>
              <p class="card-text">
                My app design service helps new developers create visually
                stunning and user-friendly mobile applications. I focus on
                creating an intuitive user experience, incorporating your brand
                identity, and ensuring responsiveness across devices. I provide
                interactive prototypes, collaborate with developers, and offer
                ongoing support. Let me turn your app idea into a reality and
                help you build impresive application. Contact me today to get
                started!
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card text-bg-light mb-3" style="max-width: 18rem">
            <div class="card-header fw-bold fs-3">
              <i class="fa-solid fa-crop"></i>
              UI/UX Design
            </div>
            <div class="card-body">
              <h5 class="card-title">Figma/Photoshop PSD</h5>
              <p class="card-text">
                My UI/UX design service focuses on creating captivating and
                user-centric digital experiences. I conduct thorough user
                research, design visually stunning interfaces, create wireframes
                and prototypes, and prioritize responsive and intuitive
                interactions. I collaborate closely with developers and conduct
                usability testing to ensure a seamless implementation. Contact
                me today to create an exceptional user experience for your app
                or website!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card text-bg-light mb-3" style="max-width: 18rem">
            <div class="card-header fw-bold fs-3">
              <i class="fa-solid fa-code"></i> Graphic Design
            </div>
            <div class="card-body">
              <h5 class="card-title">Designing brand logo/Graphics</h5>
              <p class="card-text">
                Stunning and impactful graphic design services. Branding, print
                and digital design, illustration, photo editing, and more. Let's
                bring your vision to life. Contact me today.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include partials/footer.ejs %>
  </body>
</html>
